{% load static %}

<!-- FOOTER START -->
<footer class="site-footer footer-light">
    <!-- FOOTER NEWSLETTER START -->
    <div class="footer-top-newsletter">
        <div class="container">
            <div class="sf-news-letter">
                <span>Subscribe Our Newsletter</span>
                <form>
                    <div class="sf-news-l-form">
                        <input type="text" class="form-control" placeholder="Enter Your Email">
                        <button type="submit" class="sf-sb-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- FOOTER BLOCKES START -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- COLUMNS 1 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="sf-site-link sf-widget-link">
                        <h4 class="aon-f-title">About</h4>
                        <p>The printing and typesetting industry Ipsum has been the industry's thanks to your passion, hard work creativity</p>
                        <ul class="aon-socila-icon d-flex">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- COLUMNS 2 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="sf-site-link sf-widget-cities">
                        <h4 class="aon-f-title">Quick Links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Lab Test</a></li>
                            <li><a href="#">Medicine</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- COLUMNS 3 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="sf-site-link sf-widget-categories">
                        <h4 class="aon-f-title">Quick Links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Lab Test</a></li>
                            <li><a href="#">Medicine</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- COLUMNS 4 -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="sf-site-link sf-widget-contact">
                        <h4 class="aon-f-title">Community</h4>
                        <ul>
                            <li>Australia</li>
                            <li>+41 232 525 5257</li>
                            <li>+41 856 525 5369</li>
                            <li>hello@Servicefinder.com</li>
                            <li>hello@aontheme.com</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom">
        <div class="container">
            <div class="aon-footer-bottom-area">
                <div class="aon-foo-copyright">
                    <span>Copyright © 2025 | FindClinic. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER END -->

<!-- SCROLL TO TOP -->
<button class="scroltop">
    <span class="fa fa-angle-up relative" id="btn-vibrate"></span>
</button>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints-sticky.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/lc_lightbox.lite.js' %}"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/recaptcha-api.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
