{% load static %}


<!-- HEADER START -->
<header class="site-header header-style-1 mobile-sider-drawer-menu header-full-width">
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar">  
            <div class="container clearfix"> 
                
                <!-- Logo Section Start -->
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a href="{% url 'home' %}">
                            <img class="logo-pic-one" src="{% static 'images/logo-light.png' %}" alt="logo">
                            <img class="logo-pic-two" src="{% static 'images/logo-dark.png' %}" alt="logo">
                        </a>
                    </div>
                </div>  
                <!-- Logo Section End -->

                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button> 

                <!-- MAIN Nav -->
                <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
                    <ul class="nav navbar-nav">
                        <li class="has-child current-menu-item">
                            <a href="{% url 'alldoctor' %}">Doctor</a>
                            <ul class="sub-menu">
                                {% for category in categories %}
                                    <li><a href="{% url 'doctors_by_city_and_category' 'lahore' category.slug %}">
                                        {{ category.name }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        </li>
                        <li class="has-child current-menu-item"><a href="{% url 'clinic' %}">Clinic</a>
                        </li>
                        <li class="has-child current-menu-item"><a href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="has-child current-menu-item"><a href="{% url 'contact' %}">Contact Us</a>
                        </li>


                    </ul>
                </div>
                        
                <!-- Header Right Section-->
                
                    <div class="extra-nav header-2-nav">
                       <div class="extra-cell">

                            {% if request.user.is_authenticated %}

                                {# Check if logged in user is Doctor #}
                                {% if request.user.doctor %}
                                    <a href="{% url 'doctor_dashboard' %}" class="site-button-link aon-btn-signup m-l20">
                                        <i class="feather-user"></i> Doctor Dashboard
                                    </a>

                                {#  Check if logged in user is Patient #}
                                {% elif request.user.patient_profile %}
                                    <a href="{% url 'patient_dashboard' %}" class="site-button-link aon-btn-signup m-l20">
                                        <i class="feather-user"></i> Patient Dashboard
                                    </a>

                                {% else %}
                                    <a href="{% url 'doctor_dashboard' %}" class="site-button-link aon-btn-signup m-l20">
                                        <i class="feather-user"></i> Doctor Dashboard
                                    </a>
                                {% endif %}

                                {#  Common Logout #}
                                <a href="{% url 'patient_logout' %}" class="site-button aon-add-listing m-l20">
                                    <i class="feather-log-out"></i> Logout
                                </a>

                            {% else %}
                                {#  When user is not logged in #}
                                <a href="{% url 'patient_login' %}" class="site-button-link aon-btn-signup m-l20">
                                    <i class="feather-user"></i> Patient Login / Signup
                                </a>

                                <a href="{% url 'doctor_login' %}" class="site-button aon-add-listing m-l20">
                                    <i class="feather-plus-circle"></i> Join as a Doctor
                                </a>
                            {% endif %}

                        </div>


                        

                    </div>

                <!-- end Header Right Section-->         

            </div>    
        </div>
    </div>
</header>
<!-- HEADER END -->
