{% extends "base.html" %}
{% load static %}
{% block content %}
    
        <!-- Content -->
        <div class="page-content">
            
             <!-- Search Bar -->
            <div class="aon-search2-bar-wrap">
              <div class="container">
                 <div class="aon-search2-row">
                    <form class="aon-search2-form no-p-lr row justify-content-between">
                        <div class="aon-search2-left">
                            <div class="aon-search2-table">

                                <div class="aon-search2-col aon-search-col">
                                    <div class="aon-inputicon-box"> 
                                        <input class="form-control sf-form-control" name="company_name" type="text" placeholder="Search doctors, clinics, hospitals, etc.">
                                        <i class="aon-input-icon feather-search"></i>
                                    </div>
                                </div>

                                <div class="aon-search2-col aon-category-col">
                                    <div class="aon-inputicon-box">
                                        <i class="aon-input-icon feather-map-pin"></i>
                                        <select class="form-select" aria-label="Default select example">
                                            <option>Select Location</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                            <option>US</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="aon-search2-col aon-search-btn">
                                    <button class="aon-search2-btn site-button" type="submit">Search</button>
                                </div>
                                
                            </div>
                                
                            
                        </div>
                        <div class="aon-search2-right a-s-auto  d-flex align-items-center justify-content-end">
                            <div class="aon-search-btn-wrap">
                                <button class="aon-search-advance-btn d-flex align-items-center" type="submit">
                                    <i class="feather-sliders"></i>
                                    <strong>
                                        <span>Advanced</span>
                                        <span>Search</span>
                                    </strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            <!-- Search Bar End -->   
            
             <!-- Search heading -->
            <div class="aon-search-heading">
              <div class="container">
                 <div class="row aon-search-row align-items-center">
                     <div class="col-lg-8  col-md-6">
                         <h4>Showing 10 of 30 redults</h4>
                     </div>
                     <div class="col-lg-4  col-md-6">
                        <ul class="aon-search-list-grid d-flex pull-right">
                            <li>
                                <button type="button" class="btn btn-border">
                                    <i class="feather-grid"></i>
                                </button>
                            </li>
                            <li >
                                <button type="button" class="btn btn-border">
                                    <i class="feather-list"></i>
                                </button>
                            </li>
                        </ul>
                     </div>
                </div>
              </div>
            </div>
            <!-- Search heading End -->   
            
             <!-- Search info -->
            <div class="aon-search-info-wrap">
              <div class="container">
                 <h3 class="aon-searchInfo-title">1389 doctors available in US</h3>
                 <div class="aon-searchInfo-text"><i class="fa fa-check"></i> Book appointments with minimum wait-time & verified doctor details</div>
              </div>
            </div>
            <!-- Search info End -->             
            
            <!-- Left & right section -->
            <div class="aon-page-jobs-wrap">
                <div class="container">

                    <div class="row">
                        <!-- Left part start -->
                        <div class="col-lg-8">
                                                      

                            <div class="sf-listing-view-wrap">
                                <!-- COLUMNS 1 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic1.jpg" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. Viniita Jhuntra</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic2.jpg" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. Zuliya Wood</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic3.jpg" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. Marya Smith</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic4.html" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. David Chua</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- COLUMNS 5 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic5.html" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. Darren Elder</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- COLUMNS 6 -->
                                <div class="sf-listing-view">

                                    <div class="sf-listing-media-wrap">
                                        <div class="sf-listing-media">
                                            <a href="profile1.html"><img src="images/team/pic6.html" alt=""></a>
                                            <i class="fa fa-check"></i>
                                            <a href="profile1.html" class="sf-doc-profile-view">View Profile</a>
                                        </div>
                                    </div>
                                    
                                    <div class="sf-listing-info">
                                        <h3>Dr. Viniita Jhuntra</h3>
                                        <div class="sf-doct-info"><span>Anesthesiology</span> (ph.D, DPT, MS OMPT)</div>
                                        <div class="sf-doc-exp">33 year experience overall</div>
                                        <div class="sf-medi-rate">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star text-gray"></span>
                                            <span class="sf-rating-lable">3 Feedback</span>
                                        </div>

                                    </div>

                                    <div class="sf-listing-info-right">
                                        <div class="sf-listing-con-details">

                                            <div class="sf-listing-con-timeing">
                                                <i class="feather-clock"></i>
                                                <span class="open">Mon,</span>
                                                <span>Tue,</span> 
                                                <span>Wed,</span> 
                                                <span>Thu,</span> 
                                                <span>Fri,</span>
                                                <span>Sat,</span>
                                                <span class="close">Sun</span>
                                            </div>

                                            <div class="sf-listing-con-address">
                                                <i class="feather-map-pin"></i>
                                                <p><span>United States</span> 462 First Avenue NY 10016 US </p>
                                            </div>
                                            <div class="sf-medi-like">
                                                <i class="feather-thumbs-up"></i>
                                                <span class="bage-green">93%</span>
                                                <span>15 Patient Stories </span>
                                            </div>
                                        </div>
                                        <div class="sf-listing-right-footer">
                                            <a href="booking-form.html" class="site-button">
                                                Book Appointment
                                            </a>
                                            <p><span>Note :-</span> No Booking Fee</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                

                                <div class="site-pagination s-p-center">
                                    <ul class="pagination">
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left"></i></a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                                      <li class="page-item"><a class="page-link" href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                      <li class="page-item"><a class="page-link" href="#">11</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a>
                                      </li>
                                    </ul>
                                </div>                              

                            </div>                                

                        </div>
                        <!-- Left part END --> 
                        
                        <!-- Side bar start -->
                        <div class="col-lg-4">

                            <aside class="side-bar ">
                                    
                                <!-- Search Filter-->
                                <div class="sf-siderbar-map">
                                    <div class="search-filter-wrap">
                                        <!-- COLUMNS 1 -->
                                        <div class="search-filter-box">
                                            <h4 class="search-filter-title">Video Consult</h4>
                                            <div class="search-filter-content">
                                                <div class="checkbox sf-radio-checkbox sf-radio-input">
                                                    <input id="lau1" name="abc" value="five" type="checkbox">
                                                    <label for="lau1">Yes</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 2 -->
                                        <div class="search-filter-box">
                                            <h4 class="search-filter-title">Availability</h4>
                                            <div class="search-filter-content">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option>Select Doctors</option>
                                                    <option>Available Today</option>
                                                    <option>Available Tommorow</option>
                                                    <option>Available in next 7 days</option>
                                                </select>    
                                            </div>
                                        </div>
                                        <!-- COLUMNS 3 -->
                                        <div class="search-filter-box">
                                            <h4 class="search-filter-title">Gender</h4>
                                            <div class="search-filter-content">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option>Male Doctor</option>
                                                    <option>Female Doctor</option>
                                                </select>    
                                            </div>
                                        </div>
                                        <!-- COLUMNS 4 -->
                                        <div class="search-filter-box">
                                            <h4 class="search-filter-title">Consultation Fee</h4>
                                            <div class="search-filter-content">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option>Free</option>
                                                    <option>100-200</option>
                                                    <option>200-500</option>
                                                    <option>500+</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- COLUMNS 5 -->
                                        <div class="search-filter-box">
                                            <h4 class="search-filter-title">Availability</h4>
                                            <div class="search-filter-content">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option>Sort By</option>
                                                    <option>Earliest Available</option>
                                                    <option>Price - Low to High</option>
                                                    <option>Price - High to Low</option>
                                                    <option>Years of Experience</option>
                                                    <option>Recommendation</option>
                                                </select>    
                                            </div>
                                        </div>
                                    </div>   
                                 </div>

                            </aside>

                        </div>
                        <!-- Side bar END -->

                    </div>
                </div>
            </div> 
            <!-- Left & right section  END -->
            
        </div>
        <!-- Content END-->

        <!-- FOOTER START -->
        <footer class="site-footer footer-light" >
            <!-- FOOTER NEWSLETTER START -->  
            <div class="footer-top-newsletter">
                <div class="container">
                    <div class="sf-news-letter">
                        <span>Subscribe Our Newsletter</span>
                        <form>
                            <div class="sf-news-l-form">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                                <button type="submit" class="sf-sb-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- FOOTER BLOCKES START -->  
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- COLUMNS 1 -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="sf-site-link sf-widget-link">
                                <h4 class="aon-f-title">About</h4>
                                <p>The printing and typesetting industry Ipsum has been the industry's thanks to your passion, hard work creativity</p>
                                <ul class="aon-socila-icon d-flex">
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COLUMNS 2 -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="sf-site-link sf-widget-cities">
                                <h4 class="aon-f-title">Quick Links</h4>
                                <ul>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="lab-test.html">Lab Test</a></li>
                                    <li><a href="medicince.html">Medicine</a></li>
                                    <li><a href="blog-list.html">Blog</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COLUMNS 3 -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="sf-site-link sf-widget-categories">
                                <h4 class="aon-f-title">Quick Links</h4>
                                <ul>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="lab-test.html">Lab Test</a></li>
                                    <li><a href="medicince.html">Medicine</a></li>
                                    <li><a href="blog-list.html">Blog</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COLUMNS 4 -->
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="sf-site-link sf-widget-contact">
                                <h4 class="aon-f-title">Community</h4>
                                <ul>
                                    <li>Australia</li>
                                    <li>+41 232 525 5257</li>
                                    <li>+41 856 525 5369</li>
                                    <li>hello@Servicefinder.com</li>
                                    <li>hello@aontheme.com</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="aon-footer-bottom-area">
                    	<div class="aon-foo-copyright">
                        	<span>Copyright 2022 | Aone Theme. All Rights Reserved</span>
                        </div>
                    </div>
                </div>   
            </div>   
    
        </footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

 	</div>


<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="js/jquery-3.6.0.min.js"></script><!-- JQUERY.MIN JS -->
<script  src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script  src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    
<script  src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script  src="js/bootstrap-slider.min.js"></script><!-- BOOTSTRAP Slider --> 
<script  src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script  src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script  src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script  src="js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
<script  src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script  src="js/slick.min.js"></script><!-- Slick SLIDER  -->
<script  src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script  src="js/jquery.scrollbar.min.js"></script><!-- MY ACCOUNT LEFT PANEL SCROLLER -->
<script  src="js/dropzone.js"></script><!--IMAGE UPLOAD-->  
<script  src="js/bootstrap4-toggle.min.js"></script><!-- BOOTSTRAP TOOGLE-->
<script  src="js/jquery.dataTables.min.js"></script><!--DATA TABLE-->
<script  src="js/dataTables.bootstrap4.min.js"></script><!-- DATA TABLE-->
<script  src="js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->
<script  src="js/datepicker.min.js"></script><!-- DATEPICKER -->
<script  src="js/fullcalendar.min.js"></script><!-- DATEPICKER -->
<script src="js/recaptcha-api.js"></script><!-- RECAPTCHA-->
<script  src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->

</body>


<!-- Mirrored from aonetheme.com/mfine/search-list-view-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Oct 2025 05:27:42 GMT -->
</html>
{% endblock %}
